@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Roboto+Flex:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root {
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto Flex', sans-serif;
    scroll-behavior: smooth;
}

section{
    scroll-margin: 50px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 50px;
}

button{
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    border: none;
}

button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

nav ul{
    display: flex;
    gap: 30px;
}

.logo{
    font-size: 32px;
    font-weight: 600;
}

nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

nav ul li:hover{
    border-bottom: 2px solid #fff;
    transition: 0.2s ease-in;
}

.hero-section{
    background-image: url(imgs/hero_image.png);
    height: 100vh;
    color: #fff;
    display: grid;
    place-items: center;
    text-align: center;
}

.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-section h1{
    font-size: 72px;
}

.hero-section h3{
    font-size: 24px;
    font-weight: 300;
}

.hero-section p{
    font-size: 17px;
    line-height: 29px;
}

.music-section{
    padding-top: 50px;
    background-color: var(--purple500);
}

.music-section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
}

.iphone-ipad-img{
    margin-top: -400px;
    position: relative;
    top: 400px;
}

.primary-btn{
    background-color: var(--red600);
    color: #fff;
}

.secondary-btn{
    background-color: var(--purple600);
    color: #fff;
}

.about-music{
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.video-section{
    background-image: url(imgs/video.png);
    min-height: 800px;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
}

.video-section .container{
    display: grid;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}

.hero-section, .video-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gift-section{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
}

.gift-content{
    display: grid;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.grid{
    display: grid;
    flex-direction: column;
}

.upper-footer{
    background-color: var(--purple600);
    padding: 20px;
}

.upper-footer .container{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.upper-footer h3{
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
}

.lower-footer{
    background-color: var(--purple300);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}

.gift-section{
    scroll-margin: 120px;
}