@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Roboto+Flex:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body
{
    background-color: #ACB1D6;
}

.container{
    max-width: 1200px;
}

.container img
{
    margin-top: 150px;
    margin-left: 150px;
}
.right_side
{
    background-color: #fff;
    border: 2px solid #fff;
    text-align: center;
    width: 300px;
    height: 413px;
    margin-top: -421px;
    margin-left: 750px;
}
.right_side h1
{
    font-family: 'Montserrat', sans-serif;;
    margin-top: 50px;
}
.right_side h2
{
    font-family: 'Montserrat', sans-serif;;
    font-size: 50px;
    margin-top: 5px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
    max-width: 220px;
}

.btn-container button{
    background-color: brown;
    padding: 10px 15px;
    color: #fff;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@media (max-width:786px){
    .container{
        display: flex;
        flex-direction: column;
    }
}